[submodule "packages/in2plane"] 
  path = packages/in2plane 
  url = https://github.com/Tommoore96/in2plane.git
[submodule "packages/my-ops"] 
  path = packages/my-ops 
  url = https://github.com/Tommoore96/my-ops.git